@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Poppins, Arial, Helvetica, sans-serif;
}

ul,
li,
a {
  list-style-type: none;
  text-decoration: none;
}

.pd-10 {
  padding: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.dashboard {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 1fr 3fr 3fr;
  grid-template-rows: 1fr 3fr 3fr;
}

.sidebar {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 4;
  display: flex;
  flex-direction: column;
  background-color: #0f172a;
}

.header {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  display: grid;
  grid-template-columns: 3fr auto;
  grid-template-rows: auto auto;
  background-color: #cbd5e1;
  align-items: flex-start;
  border: 1px solid;
  box-shadow: 4px 1px 3px #0f172a;
  z-index: 1;
  justify-content: space-between;
  padding: 20px;
}

.main-content {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 4;
  background-color: #cbd5e1;
  display: grid;
  grid-template-columns: 3fr auto;
}

.logo {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  gap: 5px;
  align-items: center;
  color: #e2e8f0;
}

.sb-li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  color: #e2e8f0;
}

.top-sidebar-buttons {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 70%;
  padding: 4px;
}

.search-bar img {
  width: 20px;
}

#search {
  border-radius: 4px;
  width: 100%;
  border-style: none;
}

.header__cell-2 {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header__cell-3 {
  display: grid;
  grid-template-columns: 40px 2fr;
  align-items: center;
  gap: 5px;
}

.header__cell-3 img {
  width: 40px;
}

.header__cell-4 {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: flex-start;
  gap: 5px;
}

.header__cell-4 > button {
  width: fit-content;
  padding: 10px;
  color: #fff;
  background-color: #0f172a;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  border-radius: 8px;
}

.main-content__cell-1 {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px;
  padding-top: 5px;
}

.main-content__cell-1-title {
  padding: 10px;
}

.card {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 5px;
  border-left: 5px solid #111827;
  background-color: #e2e8f0;
  box-shadow: 4px 2px 3px #0f172aa6;
}

.card > h5 {
  font-size: 12px;
}

.card > p {
  font-size: 10px;
}

.card img {
  width: 15px;
}

.card__action {
  align-self: flex-end;
}

.announcement_title > h6,
.trends_title > h6 {
  padding: 10px;
}

.announcements,
.trends {
  padding: 15px;
  background-color: #e2e8f0;
  width: 150px;
  border-radius: 4px;
  box-shadow: 4px 2px 3px #0f172aa6;
}

.announcement-card {
  border-bottom: 1px solid #91959b;
}

.trends-card {
  display: flex;
  gap: 10px;
}

.announcement-card a {
  font-size: 65%;
  line-height: normal;
}

.trends-card a {
  font-size: 70%;
}

.announcement-card p {
  font-size: 9px;
  margin-bottom: 5px;
}

.trends-card p {
  font-size: 60%;
  margin-bottom: 5px;
}
